// app global css in SCSS form
a {
  text-decoration: none !important;
}
.body--dark {
  .q-card,.bg-white {
    background-color: $dark !important;
  }
}
.body--light {
  .q-card,.bg-white {
    background-color: white;
  }
}
.bg-hazy {
  background-color: rgba(255, 255, 255, 0.5);
}
.bg-primary-hazy {
  background-color: rgba(240, 163, 31, 0.5);
}
.body--dark {
  .text-black {
    color: white !important;
  }
}
.q-layout__shadow:after {
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.05), 0 0px 10px rgba(0, 0, 0, 0.05);
}
