// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #369cf5;
$secondary : #65f0e2;
$accent    : #d066e3;

$dark      : #2e2e2e;

$positive  : #59eb7b;
$negative  : #eb596a;
$info      : #82e2f5;
$warning   : #f7d474;
